<div style="margin: 30px auto;">

    <h1 style="margin: 30px auto; text-align: center;">Employees' List</h1>
  
    <table border="2px" style="margin: 30px auto;">
      <tr *ngFor="let emp Of employees; let indexOfEmp=index">
        <td>{{emp.empid}}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.address}}</td>
        <td>{{emp.dob}}</td>
        <button (click)="deleteEmployee(indexOfEmp)">Delete</button>
        <button [routerLink]="['../employeeForm',indexOfEmp]">Update</button>
      </tr>
    </table>
  </div>